<section id="list-page">
    <div class="container">
        
        <div class="header">
            <img src="assets/images/logo.svg" alt="">
            <h1>
                <span>LinkVOTE</span> Challenge
            </h1>
        </div>

        <div class="body">
            <div class="body-container">
                <div class="add-item">
                    <a [routerLink]="['/add-item']">
                        <span class="plus">
                            +
                        </span>
                    </a>
                    <span class="add-item-link-text">
                        SUBMIT A LINK
                    </span>
                </div>
                <div class="item-list">
                    <div class="order-type">
                        <select (change)="orderby($event.target.value)">
                            <option value="" disabled selected>Select your option</option>
                            <option [ngValue]="ASC"> VOTE A - Z </option>
                            <option [ngValue]="DESC"> VOTE Z - A </option>
                        </select>
                    </div>
                    <div class="item" *ngFor="let item of array">
                        <div class="box">
                            {{ item.totalVote }} 
                            <br>
                            POINTS
                        </div>
                        <div class="item-text-area">
                            <p class="title">
                                {{ item.name }}
                            </p>
                            <p class="link">
                                ( {{ item.link }} )
                            </p>
                            <div class="points">
                                <div class="up-vote">
                                    <a (click)="voting('up', item.id)">
                                        <span class="mdi mdi-arrow-up"></span> Up Vote
                                    </a>
                                </div>
                                <div class="down-vote">
                                    <a (click)="voting('down', item.id)">
                                        <span class="mdi mdi-arrow-down"></span> Down Vote
                                    </a>
                                </div>
                            </div>
                        </div>
                        <span class="mdi mdi-delete-circle delete-icon" (click)="openModalPopup(item.id, item.name)"></span>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="toastMessageInfo" class="toast-message">
            <div class="message-area">
                {{ removeItemName }} REMOVE
            </div>
        </div>
        <div *ngIf="deleteModal" class="delete-modal">
            <div class="remove-link-area">
                <div class="header">
                    Remove Link
                    <span class="mdi mdi-close-thick" (click)="closePopup()"></span>
                </div>
                <div class="body">
                    <p class="question">
                        Do you want to remove:
                    </p>
                    <p class="remove-item-name">
                        {{ removeItemName }}
                    </p>
                    <div class="buttons">
                        <button (click)="deleteListItem(removeItemId)"> OK </button>
                        <button (click)="closePopup()"> CANCEL </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>