@import 'main';

section#list-page{
    .container{
        .header{
            @include display-flex;
            @include align-items(center);
            @include justify-content(space-between);
            padding: 30px 15px;
            border-bottom: 1px solid #ccc;
            img{
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
            }
            h1{
                font-size: 24px;
                font-weight: 300;
                margin: 0;
                padding: 0;
                color: $black;
                @include on-xsmall{
                    display: none;
                }
                span{
                    font-weight: 500;
                }
            }
        }
        .body{
            padding: 50px 15px;
            .body-container{
                width: 450px;
                margin: 0 auto;

                @include on-small{
                    width:100%;
                }
                .add-item{
                    @include display-flex;
                    @include align-items(center);
                    background-color: $bgColorLight;
                    border: 1px solid $bgColor;
                    @include border-radius(4px);
                    span{
                        display: block;
                    }
                    a{
                        text-decoration: none;
                        margin: 15px;
                        padding: 0;
                        display: block;
                        height: 100px;
                        width: 100px;
                        border: 1px solid $lightBlack;
                        @include border-radius(4px);
                        background-color: $bgColor;
                        @include display-flex;
                        @include align-items(center);
                        @include justify-content(center);
                        span.plus{
                            color: $black;
                            font-size: 48px;
                            font-weight: 500;
                        }
                        &:hover{
                            background-color: $black;
                            span.plus{
                                color: $bgColor;
                            }
                        }
                    }
                    span.add-item-link-text{
                        margin: 0;
                        padding: 0 30px;
                        color: $black;
                        font-size: 32px;
                        font-weight: 500;
                        @include on-xsmall{
                            padding: 0;
                            font-size:24px;
                        }
                    }
                }
                .item-list{
                    margin: 15px 0 0;
                    padding:15px 0 0;
                    border-top: 5px solid $bgColor;
                    .order-type{
                        select{
                            width: 50%;
                            padding: 0 15px;
                            height: 40px;
                            border-radius: 4px;
                            border: 0;
                            outline: 0;
                            box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.12);
                            margin: 15px 0;
                            font-size: 18px;

                            @include on-small{
                                width:100%;
                            }
                        }
                    }
                    .item{
                        margin:0;
                        padding:15px;
                        @include display-flex;
                        position: relative;
                        .box{
                            text-decoration: none;
                            color: $black;
                            margin: 0 15px 0 0;
                            padding: 0;
                            display: block;
                            height: 100px;
                            width: 100px;
                            border: 1px solid $lightBlack;
                            @include border-radius(4px);
                            background-color: $bgColor;
                            @include display-flex;
                            @include align-items(center);
                            @include justify-content(center);
                            text-align: center;
                            font-weight: 500;
                            font-size: 24px;
                        }
                        .item-text-area{
                            min-width: 200px;
                            p{
                                margin: 0 0 15px;
                                &.title{
                                    font-weight: 500;
                                    color: $black;
                                    font-size: 20px;
                                }
                                &.link{
                                    color: $lightBlack;
                                    font-size: 16px;
                                }
                            }
                            .points{
                                @include display-flex;
                                .up-vote,
                                .down-vote{
                                    width:50%;
                                    a{
                                        text-decoration: none;
                                        color: $gray;
                                        font-size: 16px;
                                        cursor: pointer;
                                        span{
                                            font-size: 20px;
                                        }
                                    }
                                }
                            }
                        }
                        .delete-icon{
                            display: none;
                            color: red;
                            position: absolute;
                            top:-10px;
                            right:-10px;
                            font-size:32px;
                            line-height: 1;
                            background: white;
                            border-radius: 50%;
                            -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
                            box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
                            cursor: pointer;
                        }

                        &:hover{
                            background-color: $bgColorLight;
                            @include border-radius(4px);
                            .delete-icon{
                                display: block;
                            }
                        }
                    }
                }
            }
        }
        .toast-message{
            height:100%;
            width:100%;
            position: absolute;
            z-index: 2;
            @include display-flex;
            @include justify-content(center);
            top:100px;
            .message-area{
                height: 100px;
                width: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 30px;
                -webkit-box-shadow: 0 2px 12px 0 rgba(0,0,0,.12);
                box-shadow: 0 2px 12px 0 rgba(0,0,0,.12);
                background-color: green;
                color: $white;
                opacity: .9;
                font-size: 32px;
                @include border-radius(4px);
                text-transform: uppercase;
                font-weight: 500;
                min-width: 250px;
            }
        }
        .delete-modal{
            height:100%;
            width:100%;
            position: absolute;
            z-index: 2;
            @include display-flex;
            @include justify-content(center);
            top:100px;
            .remove-link-area{
                height: 275px;
                padding: 0;
                box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.12);
                text-transform: uppercase;
                font-weight: 500;
                min-width: 500px;
                background: $gray;
                position: relative;

                @include on-small{
                    width:95%;
                    min-width: auto;
                }
                .header{
                    padding:15px;
                    background-color: $black;
                    color: $white;
                    font-size:24px;
                    span{
                        font-size:24px;
                        cursor: pointer;
                    }
                }
                .body{
                    text-align: center;
                    .question{
                        color: $lightBlack;
                        margin:0 0 15px;
                        padding: 0;
                        font-size:20px;
                    }
                    .remove-item-name{
                        color: $black;
                        margin:0 0 15px;
                        padding: 0;
                        font-weight: 500;
                        font-size:20px;
                    }
                    .buttons{
                        @include display-flex;
                        @include justify-content(center);
                        button{
                            height:40px;
                            margin:0 10px;
                            background-color: $black;
                            color: $white;
                            border: 1px solid $black;
                            padding: 0 30px;
                            @include border-radius(40px);
                            font-size:18px;
                            font-weight: 500;
                            cursor: pointer;
                            &:hover{
                                color: $black;
                                background-color: $white;
                            }
                        }
                    }
                }
            }
        }
    }
}