@import 'main';

section#add-item-page{
    .container{
        .header{
            @include display-flex;
            @include align-items(center);
            @include justify-content(space-between);
            padding: 30px 15px;
            border-bottom: 1px solid #ccc;
            img{
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
            }
            h1{
                font-size: 24px;
                font-weight: 300;
                margin: 0;
                padding: 0;
                color: $black;
                @include on-xsmall{
                    display: none;
                }
                span{
                    font-weight: 500;
                }
            }
        }
        .body{
            padding: 50px 15px;
            .body-container{
                width: 450px;
                margin: 0 auto;

                @include on-small{
                    width:100%;
                }
                .back-to-home{
                    a{
                        color: $black;
                        font-size: 20px;
                        text-decoration: none;
                        font-weight: 500;
                        span{
                            font-size:22px;
                        }
                        &:hover{
                            color: $lightBlack;
                        }
                    }
                }
                .list-item-area{
                    h2{
                        margin: 30px 0;
                        padding: 0;
                        font-weight: 500;
                        color: $black;
                        font-size: 32px;
                    }
                }
                form{
                    padding: 30px 0;

                    .form-group{
                        @include display-flex;
                        @include flex-wrap(wrap);
                        margin:0 0 20px;
                        label{
                            width:100%;
                            font-size:18px;
                            font-weight: 300;
                            color: $black;
                            &.error{
                                color: red;
                                font-size: 14px;
                                margin:5px 0 0;
                            }
                        }
                        input{
                            width:100%;
                            padding: 0 15px;
                            height: 40px;
                            @include border-radius(4px);
                            border: 0;
                            outline: 0;
                            -webkit-box-shadow: 0 2px 12px 0 rgba(0,0,0,.12);
                            box-shadow: 0 2px 12px 0 rgba(0,0,0,.12);
                            margin: 10px 0 0;
                            font-size: 18px;
                            -moz-appearance: none;
                            -webkit-appearance: none;
                            appearance: none;
                        }
                    }

                    .button{
                        width:100%;
                        text-align: right;
                        button{
                            height:40px;
                            background-color: $black;
                            color: $white;
                            border: 1px solid $black;
                            padding: 0 30px;
                            @include border-radius(40px);
                            font-size:18px;
                            font-weight: 500;
                            cursor: pointer;
                            &:hover{
                                color: $black;
                                background-color: $white;
                            }
                        }
                    }
                }
            }
        }
        .toast-message{
            height:100%;
            width:100%;
            position: absolute;
            z-index: 2;
            @include display-flex;
            @include justify-content(center);
            top:100px;
            .message-area{
                height: 100px;
                width: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 30px;
                -webkit-box-shadow: 0 2px 12px 0 rgba(0,0,0,.12);
                box-shadow: 0 2px 12px 0 rgba(0,0,0,.12);
                background-color: green;
                color: $white;
                opacity: .9;
                font-size: 32px;
                @include border-radius(4px);
                text-transform: uppercase;
                font-weight: 500;
                min-width: 250px;
            }
        }
    }
}