<section id="add-item-page">
    <div class="container">
        <div class="header">
            <img src="assets/images/logo.svg" alt="">
            <h1>
                <span>LinkVOTE</span> Challenge
            </h1>
        </div>
        <div class="body">
            <div class="body-container">
                <div class="back-to-home">
                    <a [routerLink]="['/']">
                        <span class="mdi mdi-arrow-left"></span> Return to list
                    </a>
                </div>
                <div class="list-item-area">
                    <h2>
                        Add New Link
                    </h2>
                    <form #addItemForm="ngForm" (ngSubmit)="addLink(addItemForm)" >
                        <div class="form-group">
                            <label>Link Name</label>
                            <input type="text" #linkName="ngModel" name="linkName" ngModel id="linkName" placeholder="e.g. Alphabet" required>
                            <label class="error" *ngIf="(isFormSubmitted && !linkName.valid)">
                                Link Adı girmek zorunludur.
                            </label>
                        </div>
                        <div class="form-group">
                            <label>Link URL</label>
                            <input type="text" #linkUrl="ngModel" name="linkUrl" ngModel id="linkUrl" placeholder="e.g. https://abc.xyz" required>
                            <label class="error" *ngIf="(isFormSubmitted && !linkUrl.valid)">
                                Link Urli girmek zorunludur.
                            </label>
                        </div>
                        <div class="button">
                            <button type="submit">
                                ADD
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div *ngIf="toastMessageInfo" class="toast-message">
            <div class="message-area">
                {{ toastMessageLinkName }} ADDED
            </div>
        </div>
    </div>
</section>