@mixin display-flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
  
@mixin display-inline-flex {
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: -o-inline-flex;
    display: inline-flex;
}
  
@mixin justify-content( $content ) {
    -webkit-flexjustify-content: $content;
    justify-content: $content;
}
  
@mixin align-items( $content ) {
    align-items: $content;
    -ms-align-items: $content;
    -webkit-align-items: $content;
}
  
@mixin align-content( $content ) {
    align-content: $content;
    -ms-align-content: $content;
    -webkit-align-content: $content;
}
  
@mixin flex-direction( $content ) {
    flex-direction: $content;
    -ms-flex-direction: $content;
    -webkit-flex-direction: $content;
}
  
@mixin flex-wrap( $content ) {
    flex-wrap: $content;
    -ms-flex-wrap: $content;
    -webkit-flex-wrap: $content;
}
  
@mixin flex-flow( $content ) {
    -webkit-flex-flow: $content;
    flex-flow: $content;
    -ms-flex-flow: $content;
}
  
@mixin flex( $content ) {
    -webkit-flex: $content;
    -ms-flex: $content;
    flex: $content;
}

@mixin border-radius( $content ) {
    -webkit-border-radius: $content;
    -moz-border-radius: $content;
    border-radius: $content;
}

$xsmall-width: 420px;
$small-width: 575px;
$mobile-width: 768px;
$tablet-width: 991px;
$wide-tablet-width: 1024px;
$desktop-width: 1200px;
$on-business-width: 1366px; // En çok kullanılan ekran sizedır.
$large-width: 1441px;
$xlarge-width: 1600px;
$fullhd-width: 1920px;

@mixin on-xsmall {
    @media (max-width: #{$xsmall-width}) {
        @content;
    }
}
  
@mixin on-small {
    @media (max-width: #{$small-width}) {
        @content;
    }
}

@mixin on-mobile {
    @media (max-width: #{$mobile-width}) {
        @content;
    }
}
  
@mixin on-tablet {
    @media (max-width: #{$tablet-width}) {
        @content;
    }
}
  
@mixin on-wide-tablet {
    @media (max-width: #{$wide-tablet-width}) {
      @content;
    }
}
  
@mixin on-desktop {
    @media (max-width: #{$desktop-width}) {
        @content;
    }   
}
  
@mixin on-business-desktop {
    @media (max-width: #{$on-business-width}) {
      @content;
    }
}
  
@mixin on-large{
    @media (max-width: #{$large-width}) {
        @content;
    }
}

@mixin on-xlarge{
    @media (max-width: #{$xlarge-width}) {
        @content;
    }
}