@charset "utf-8";
@import "mixins";
@import "variables";


body{
    font-family: $font;
    padding:0;
    margin:0;
    font-weight: 300;
}

.container{
    max-width: 1200px;
    margin:0 auto;
    position: relative;

    @include on-desktop {
        max-width: 991px;
    }
    @include on-tablet {
        max-width: 767px;
    }
    @include on-mobile{
        width:100%;
        padding:0;
        max-width: none;
    }
}
